.wropperr {
    position: relative;
}

.trends {
    width: 1060px;
    height: 546px;
    background-color: #fafcf5;
    box-shadow: 5px 8px 10px #665f5f;
    margin: 30px 0 0 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.trends__item {
    display: flex;
    width: 750px;
    justify-content: space-between;
    padding-top: 30px;

}

.days {
    display: flex;
    padding-right: 50px;
    gap: 50px;
}

.todoy {
    display: flex;
    gap: 8px;
}
.info{
    padding-left: 30px;
}
.info p{
    opacity: 0.5;
}
.trend__info {
    width: 300px;
    height: 109px;
    border-top: solid 2px #736c6c;
    border-left: solid 2px #736c6c;
    border-right: solid 2px #736c6c;
    padding-top: 16px;
}

.trend__info p {
    font-size: 19px;
    line-height: 22px;
    opacity: 0.5;
}

.trend__info span {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #252733;
    font-weight: 500;
}