.navlink__list {
    background-color: #363740;
    color: #A4A6B3;
    width: 255px;
    min-height: 98vh;
}

.nav__text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.nav__ul {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.nav__ul li {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    gap: 24px;
    cursor: pointer;
}

.first__li {
    margin-bottom: 70px;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.active {
    color: #fff;
}